#list{
    margin: 0;
    width: 20%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    outline: black 1px solid;
}

#newGame{
    float: right;
}

#refresh{
    float:left;
    width:85%;
}

#buttons{
    width: 100%;
}

#chats{
    width: 100%;
}