#continue{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 300px;
    text-align: center;
    outline: black 1px solid;
    background: dimgray;
}

#avivable_games{
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    width: 300px;
    margin-top: 20px;
    outline: black 1px solid;
    overflow-y: scroll;
}

#load_close{
    margin-top: 20px;
    width: 100px;
}

#game_list{
    width: 250px;
}