#telegramButton{
    float: right;
    width: 15%;
    background: dimgray;
}

#greetings{
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 85%;
    display: inline-block;
    background: dimgray;
}