#telegramButton{
    float: right;
    width: 15%;
    background: dimgray;
    height: 100%;
}

#greetings{
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 85%;
    display: inline-block;
    background: dimgray;
}

#header{
    outline: black 1px solid;
    height: 6%
}